<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администратор</title>
</head>
<body>
<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Authorities</th>
        <th>Action</th>
    </tr>
    <tr th:each="u : ${allUsers}">
        <td th:utext="${u.getId()}"></td>
        <td th:utext="${u.getUsername()}"></td>
        <td th:utext="${u.getEmail()}"></td>
        <td th:utext="${u.getAuthorities()}"></td>
        <td>
            <a th:href="@{/admin/{id}/edit(id=${u.getId()})}">Edit</a>
            <a th:href="@{/admin/delete/{id}(id=${u.getId()})}">Delete</a>
        </td>
    </tr>
</table>
<form action="/logout" th:align="center">
    <button type="submit">Logout</button>
</form>

</body>
</html>