<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
</head>
<body>
<h3>Users Registration</h3>
<hr>
<form th:method="POST" th:action="@{/registration}" th:object="${user}">
    <label for="name">Name </label>
    <input type="text" th:field="*{username}" id="name"/>
    <br><br>
    <label for="name">Email </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br><br>
    <label for="name">Password </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br><br>
    <input style="color:green; font-family: fantasy" type="submit" value="OK"/>
    <br>
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.name+' '}"
                       th:value="${role.id}"
                       th:field="*{roles}"
                />
            </label>
        </p>
    </form>
</form>
<br>
<br>
<form  th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout!"/>
</form>
</form>
</body>
</html>