<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>

<!-- Список пользователей -->
<h1>Список пользователей</h1>
<table>
    <tr>
        <th>Имя пользователя</th>
        <th>Email</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>

<!-- Добавить пользователя -->
<h2>Добавить пользователя</h2>
<form action="/users" method="post" th:object="${userForm}">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" th:field="*{username}" />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" />
    </div>

    <div>
        <button type="submit">Добавить</button>
    </div>
</form>
<form th:action="@{logout}" method="post">
    <input type="submit" value="logout" />
</form>
</body>
</html>